<nav id="menu">
  🏠 <a href="{{ '/' | relative_url }}">Home</a>
  <span>·</span>
  <div id="anonymous">
    <a href="{{ '/login/' | relative_url }}">Accedi</a>
    <span>·</span>
    <a href="https://dietista.it">Dietista.it</a>
  </div>
  <div id="authenticated">
    💬 <a href="{{ '/conversations/' | relative_url }}">Conversazioni</a>
    <span>·</span>
    🗓️ <a href="{{ '/calendar/' | relative_url }}">Calendario</a>
    <span>·</span>
    Utente: <span id="username"></span>
    <span>·</span>
    <a id="logout" href="#">Esci</a>
  </div>
</nav>