<nav id="menu">
  <div id="anonymous">
    <div class="line">
      <div class="left">🏠 <a href="{{ '/' | relative_url }}">Home</a></div>
      <div class="gap"></div>
      <div class="right">🔑 <a href="{{ '/login/' | relative_url }}">Accedi</a></div>
    </div>
  </div>
  <div id="authenticated">
    <div class="line">
      <div class="left">🏠 <a href="{{ '/' | relative_url }}">Home</a></div>
      <div class="gap"></div>
      <div class="right">Utente: <span id="username"></span></div>
      <div class="right"><a id="logout" href="#">Esci</a></div>
    </div>
    <div class="line">
      <div class="left">💬 <a href="{{ '/conversations/' | relative_url }}">Conversazioni</a></div>
      <div class="left">🗓️ <a href="{{ '/calendar/' | relative_url }}">Calendario</a></div>
      <div class="left">💡 <a href="{{ '/insights/' | relative_url }}">In sintesi</a></div>
    </div>
  </div>
</nav>