:root {
  --background: #fafafa;
  --foreground: #222222;
  --foreground-muted: #2222227f;
  --primary: #0d6efd;
  --error: #dc3545;
  --size-extra-small: 0.3rem;
  --size-small: 0.5rem;
}

html {
  font-size: 20px;
}

* {
  line-height: 1.5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  max-width: 95%;
  font-family: -apple-system, sans-serif;
  margin: 2rem auto 4rem auto;
}

img {
  max-width: 100%;
  page-break-after: always;
}

a,
a:visited {
  color: var(--primary);
}

h1 {
  font-size: 1.953rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.563rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 1rem auto 1rem auto;
}

h1,
h2 {
  margin: 2rem auto 1rem auto;
}

p,
ul,
ol {
  margin: 1rem 0;
}

img {
  margin: 2rem 0;
}

a>*,
.flex>* {
  margin: 0;
}

.border {
  border: 1px solid var(--foreground);
}

.muted {
  color: var(--foreground-muted);
}

.flex {
  display: flex;
  gap: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  align-items: center;
}

.centred {
  justify-content: center;
  align-items: center;
}

nav,
nav > div {
  display: flex;
  flex-direction: row;
  gap: var(--size-extra-small);
  flex-wrap: wrap;
}

footer {
  margin-top: 2rem;
  font-size: 0.75rem;
}

footer nav {
  gap: var(--size-extra-small);
}

fieldset {
  border: none;
}

form {
  display: table;
}

fieldset > div {
  display: table-row;
}

label,
input,
legend,
select {
  display: table-cell;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
}

label {
  padding-right: 10px;
}

select {
  width: 100%;
  padding: 4px;
}

a:visited.button,
.button {
  display: inline-block;
  text-decoration: none;
}

input,
input[type="submit"],
button,
select,
.button {
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 1rem;
}

input[type="submit"],
button,
a:visited.button,
.button {
  padding: 4px 8px;
  font-weight: bold;
  background-color: #eee;
  color: var(--foreground);
}

input[type="submit"]:disabled,
button:disabled {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #ccc;
}

.primary {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

button.primary:disabled {
  background-color: #8ebbff;
  border: 1px solid #8ebbff;
  color: #fff;
}

table {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-spacing: 0;
  width: 100%;
}

td, th {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

td {
  padding: 2px 6px;
}

tbody > tr:nth-of-type(odd) {
  background-color: #eee;
}

.operation {
  text-align: center;
}

#content {
  display: none;
}

#info_message,
#error_message {
  padding: 0.5rem;
  color: #fff;
  display: none;
}

#info_message {
  background-color: var(--primary);
}

#error_message {
  background-color: var(--error);
}

@media (min-width: 730px) {
  body {
    max-width: 700px;
    -webkit-text-size-adjust: none;
  }
}

/* Special style for the calendar */

#calendar table {
  table-layout: fixed;
}

#calendar td {
  vertical-align: top;
  width: 14%;
  overflow: hidden;
}

#calendar .weekend,
#calendar .prev_month,
#calendar .next_month {
  color: #999;
}

#calendar .day {
  display: flex;
  flex-direction: column;
}

#calendar ul {
  margin: 0;
  padding: 0;
}

#calendar li {
  list-style-type: none;
}

#calendar .appointments {
  font-size: 0.8rem;
}

/* Dynamic elements */

#authenticated {
  display: none;
}
